.button {
  min-width: 134px;
  padding: 10px 25px;
  border-radius: 3px;
  font-size: 15px;
  font-weight: bold;
  line-height: 18px;
  text-align: center;
  outline: none;
  cursor: pointer;
}

.success {
  background-color: #40ab7b;
  color: #fff;
  border: none;
}
