.wrapper {
  padding: 25px;
  min-width: 500px;
  background-color: #fff;
  border-radius: 3px;
}

.item {
  margin-bottom: 30px;

  &__parts {
    display: flex;
    justify-content: space-between;
  }
}

.divider {
  height: 0;
  margin-bottom: 20px;
  overflow: hidden;
}

.title {
  margin: 5px 0 15px 0;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  color: #333;
  text-transform: uppercase;
}

.bottom {
  display: flex;
  justify-content: space-between;
}
